/* index */

body {
    color: white !important;
}


.titulos {

    border: solid 2px rgb(255, 255, 0);

    border-radius: 6px;
    box-shadow: 0 0 40px 0 rgba(255, 0, 132, 0.975);
    border-radius: 6px;
}



#p1 {

    color: rgb(229, 229, 229);
    font-size: 60px;


}

#p2 {
    color: rgb(255, 255, 37);
    font-style: italic;

}



.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-top: 80px;


}

section a {
    color: rgb(255, 0, 115);
}

.logos a {

    color: rgb(255, 0, 115);
}

.logo:hover {
    transform: scale(1.5);

}

.container a {
    color: rgb(255, 0, 115);
}

.nave:hover {
    transform: scale(1);
}

/* index */
/* <----------------------------> */



/* about */




.padreSF {
    width: 1300px;
    height: 550px;
    display: flex;
}


.foto {
    width: 250px;
    height: 150px;
    justify-content: end;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    padding: 0;
}

.foto img {
    width: 440px;
    height: 250px;
}

.pie-pag {
    width: 100%;
    height: 70px;
    margin-top: 200px;

}



.iconss {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 40px 0 rgba(255, 0, 132, 0.975);
    border-radius: 6px;
}


.iconss h6 {
    color: white;

    font-style: italic;

}




.logoss a {

    color: rgb(255, 0, 115);
}


/* skill.html */
.contenedorS {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}

.contenedorS h3 {
    color: rgb(254, 254, 254);
    font-size: 40px;

}

#pa1 {
    font-size: 20px;

    color: aliceblue;
}

#pa2 {
    font-size: 20px;

    color: rgb(255, 255, 255);
}

#pa3 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.padreS {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.padreS img {
    width: 110px;
    height: 100px;

}

.img1 {

    box-shadow: 0 0 10px 0 rgba(255, 225, 0, 0.995);
    border-radius: 6px;
}

.img2 {

    box-shadow: 0 0 10px 0 rgba(54, 59, 108, 0.975);
    border-radius: 6px;
}

.img3 {

    box-shadow: 0 0 10px 0 rgba(209, 22, 22, 0.975);
    border-radius: 6px;
}

.img4 {

    box-shadow: 0 0 10px 0 rgba(2, 249, 2, 0.975);
    border-radius: 6px;
}


.img5 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.975);
    border-radius: 6px;

}

.img6 {
    box-shadow: 0 0 10px 0 rgba(0, 255, 204, 0.975);
    border-radius: 6px;

}


.img7 {
    width: 110px;
    height: 115px;
    margin-top: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 234, 255, 0.975);
    border-radius: 6px;

}

.img8 {
    width: 110px;
    height: 115px;
    margin-top: 30px;
    box-shadow: 0 0 10px 0 rgba(247, 76, 2, 0.975);
    border-radius: 6px;

}

/* skills.html */